/* Estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #002b5c;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    position: relative;
    height: auto;
}

/* Menú de navegación */
.navbar {
    display: flex;
    padding: 0;
    font-size: 1.3rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo a {
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    padding: 0 0 0 2rem;
}

.login {
    font-size: 1.2rem;
}

.navbar nav a,
.navbar .login a {
    margin: 0 25px;
    color: white;
    text-decoration: none;
}

/* Ajuste del navbar para dispositivos móviles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .navbar nav {
        margin: 10px 0;
    }
    
    .logo a {
        padding: 0;
    }
}

/* Sección de bienvenida */
.bienvenida-impactante {
    position: relative;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.bienvenida-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.bienvenida-content {
    position: relative;
    z-index: 2;
}

.bienvenida-content h1 {
    padding: 20px;
    font-size: 2rem;
}

.bienvenida-content p {
    font-size: 1rem;
}

.enlace {
    margin: 2rem 0 0 0;
}

.boton-explora {
    margin-top: 10px;
    padding: 15px 25px;
    background-color: #FFD700;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.boton-explora:hover {
    transform: scale(1.1);
    background-color: #FFC300;
}

/* Secciones adicionales */
.quienes-somos {
    background-color: #002b5c;
    text-align: left;
    padding: 50px 50px;
    color: white;
}

.quienes-somos p {
    font-size: 18px;
}

.quienes-somos h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

/* Ajustes de la sección de beneficios */
.por-que-elegirnos {
    padding: 50px 20px;
    text-align: center;
    background-color: white;
}

.por-que-elegirnos h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
}

.beneficios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 50px;
}

.beneficio {
    color: black;
    padding: 50px 20px;
    border-radius: 10px;
    max-width: 100%;
    text-align: center;
    background-color: #FFC300;
}

.beneficio i {
    font-size: 2rem;
    padding-bottom: 1rem;
}

/* Cartas de contenido */
.carta-contenido {
    padding: 50px 0;
    background-color: #ffffff;
    text-align: center;
}

.carta-contenido h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
}

.cartas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 50px;
}

.carta {
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.carta:hover {
    transform: scale(1.05);
}

.carta img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.carta-info {
    padding: 15px;
}

.carta-info h3 {
    font-size: 1.5rem;
}

.boton-ver-mas {
    display: inline-block;
    margin-top: 10px;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.boton-ver-mas:hover {
    color: #2980b9;
}

/* Pie de página */
.footer {
    background-color: #002b5c;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.footer .social-icons a {
    margin: 0 10px;
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
}

.footer .links {
    margin-top: 15px;
}

.footer .links a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 14px;
}

.footer .links a:hover {
    text-decoration: underline;
}

.footer .bottom-section {
    margin-top: 20px;
    border-top: 1px solid #ffffff;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .bottom-section img {
    height: 40px;
    margin: 10px;
}

.footer .bottom-section .company-name {
    padding: 10px 0;
    font-size: 18px;
    font-weight: bold;
}

.affiliates {
    padding-top: 10px;
}

/* Media Queries adicionales */
@media (max-width: 480px) {
    nav a {
        display: none;
    }

    .login a {
        display: none;
    }

    .bienvenida-content h1 {
        font-size: 1.5rem;
    }

    .bienvenida-content p {
        font-size: 0.9rem;
    }

    .quienes-somos,
    .por-que-elegirnos, .quienes-somos p {
        padding: 20px;
        font-size: 1rem;
        
    }
    
    .beneficio {
        padding: 20px 10px;
    }
    
    .footer {
        font-size: 0.8rem;
    }
}

@media (max-width: 951px) {
    nav a {
        display: none;
    }
}
